@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=close" ); */


*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body{
  /* color: #fff; */
  color:#000;
  background-color: #fff;
  /* background-color: #000; */

}